<!doctype html>
<head>
</head>
<header id="menu" class="menu-wrap grid__item">
</header>
<body class="">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PG4665D"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <main>
    <h1>ERROR</h1>
      {{{ body }}}
  </main>
  <script src="./javascripts/main.js"></script>
</body>
</html>