<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Fuel Copy</title>

</head>
<body>
    <nav>
        <ul class="flex-container">
            <li class="nav-item"><a href="#">Medical Grant Writers</a></li>
            <li class="nav-item"><a href="#">Health Content Writers</a></li>
            <li class="nav-item"><a href="#">About</a></li>
            <li class="nav-item"><a href="#">Contact</a></li>

        </ul>
    </nav>

    {{{body}}}

</body>
</html>