<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet">
    <title>Fuel Copy</title>

</head>
<body>

    <nav>
        <ul class="flex-container">
            <li class="nav-item"><a href="#">Medical Grant Writers</a></li>
            <li class="nav-item"><a href="#">Health Content Writers</a></li>
            <li class="nav-item"><a href="../about">About</a></li>
            <li class="nav-item"><a href="#">Contact</a></li>

        </ul>
    </nav>

    {{{body}}}

    <footer class="">
        <div class="flex-container spaced">
            <div class="card">
                <h4>Get In Touch!</h4>
                 <a href="#">Email</a> 
            </div>
            <div class="card">
                <p>Grants Resource Center</p>
                <p>Grants FAQ</p>
                <p>SBIR Cheatsheet</p>
            </div>
            <div class="card">
                <h6>Most Popular in Content Marketing </h6>
                <p>Marketing Plan Cheat Sheet</p>
                <p>What Social Media Can and Can't Do</p>
            </div>
        </div>
        <div class="center">
                <p>&copy Fuel Communications, LLC</p>
            </div>
    </footer>
</body>
</html>