<div class="hero-container flex-container">
 <h1>Achieve better results from your grant proposals and marketing campaigns.</h1>
 <h2>We're specialty writers for medicine, healthcare and human services.</h2>
 <p>This is home page...</p>
</div>