<div class="container-hero flex-container">
<h1>We're Content and Grant Writers Who Turn Strategy into Success.</h1>
 <h2>Achieve better results from your grant proposals and marketing campaigns.</h2>
 <h2>Communications experts for medical, healthcare and technology companies and not-for-profits.</h2>
 <p>This is home page...</p>
</div>
<div class="container-home flex-container" 