<div class="">
    <div class="hero no-pad flex-container flex-col centered-container">
    <h1>Startups get remarkable results from our writers.</h1>
    <h2>Expert, unique content that boosts sales revenue or non-dilutive grant funding.</h2>
    <div class="cta-container">
          <div class="btn cta large purple-gradient">Get a free consult on SBIR &amp; other grants.</div> 
          <div class="btn cta large magenta-gradient">Discuss your sales content needs.</div>    
    </div>
  
</div>
<!---
<div class="centered-item">
<h1>We're Content and Grant Writers Who Turn Strategy into Success.</h1>
<h2>Communications experts for medical, healthcare and technology companies and not-for-profits.</h2>
</div> -->
<div class="fullscreen"></div>
<h4>How It Works</h4>

<div class="flex-container flex-col">
    <h2>Get results with custom strategy and original content.</h2>
    <p>Your audience has many options to give their trust and their money. Let them find, trust, and back you.</p>
</h2>

    <class ="container-panel flex-col">
    <div class="container-headline-short">
        <h4>Substantial funding to grow.</h4>
    </div>
    <div class="">
        <p>We advise startup CEOs to submit winning proposals that grow revenue and reputation. The results have included new contracts and federal SBIR grants.</p> 
    </div>
     <class ="container-panel flex-col">
    <div class="container-headline-short">
        <h4>Honest, compelling content.</h4>
    </div>
    <div class="">
        <p>We weave research and data into persuasive stories  Proin sit amet massa condimentum, pretium tortor non, facilisis mi. Nunc tellus nisi, feugiat a massa sed, cursus consectetur quam.</p> 
    </div>
    <div class="container-headline">
        <h2>Achieve better results from your grant proposals and marketing campaigns.</h2>
    </div>
    <div ="container-panel">
    <div class="container-headline-short">
        <h4>Short headline 2</h4>
    </div>
    <div class="">
        <p> 100 words - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id gravida metus. Pellentesque tincidunt orci sed faucibus feugiat. Nunc nec nisi quam. Cras blandit nisl sed nunc gravida suscipit. Suspendisse bibendum </p>
            
        <p>tincidunt sem, ut hendrerit enim tempus id. Nulla at mauris eros. Donec in finibus dolor. Sed ullamcorper viverra rhoncus. Quisque posuere ornare dolor.</p> 
        
        <p>In sollicitudin tristique dolor sit amet iaculis. Donec placerat venenatis elit in pretium. Fusce aliquet lectus vitae eros eleifend cursus vel vitae libero. Proin in vulputate turpis. Etiam dictum a erat tempor volutpat. Curabitur fringilla id risus ac euismod. Ut vehicula dolor mollis odio scelerisque, quis.</p>
</div>
</div>