<div class="">
<div class="inner">
    <div class="hero no-pad flex-container flex-col centered">
        <h1>Get real answers on your grant questions.</h1>
        <h2>Applying for a government grant or contract? And not sure where to start? We've got you covered.</h2>
    <div class="cta-container flex-container centered">
        <div class="btn cta rounded flex magenta-gradient">
            <p class="large">Schedule a free consultation.</p>    
        </div>   
    </div>
</div>
</div>
<!---
<div class="centered-item">
<h1>We're Content and Grant Writers Who Turn Strategy into Success.</h1>
<h2>Communications experts for medical, healthcare and technology companies and not-for-profits.</h2>
</div> -->
<div class="fullscreen banner centered">
    <h2 class="center">Helped win $56 million of funding awards.</h2>
</div>
<div class="fullscreen">
    
        <div class="inner">
            <h2 class="center">How You'll Benefit from Grant Consultation</h2>
            <p>Work with insiders who know how to create an application that gives you a competitive advantage.</p>
        <p>Blah, blah, blah, blah.</p>

        <div class="inner grid-c"> 
        <h3>Focus on what's actually important -- which is not always evident.</h3>
        <p>While there is transparency in grant competitions, often what's emphasized is example topics and required elements.</p>
        <p>Blah, blah...</p>
        <h3>Save time doing research on funded competitors with a team, who've refined a process of collecting useful insights.</h3>
        <p>whatever whatever whatever</p>
        <h3>Benefit 3</h3>
        <p>Add stuff</p>
        <h3>Benefit 4</h3>
        <p>Add stuff</p>>

    </div>
</div>
</div>
<div class="fullscreen bg-ef">
    <div class="inner">
    <h2>We create a custom Plan &amp; write key elements</h2>
    <div class="flex-container flex-col">
        <h2>Get better results with strategy and inside experience.</h2>
        <p>Your audience has many options to give their trust and their money. Let them find, trust, and back you.</p>
    </h2>

    <class ="container-panel flex-col">
    <div class="container-headline-short">
        <h4>Substantial funding to grow.</h4>
    </div>
    <div class="">
        <p>We advise startup CEOs to submit winning proposals that grow revenue and reputation. The results have included new contracts and federal SBIR grants.</p> 
    </div>
     <div class ="container-panel flex-col">
    <div class="container-headline-short">
        <h4>Honest, compelling content.</h4>
    </div>
    <div class="">
        <p>We weave research and data into persuasive stories  Proin sit amet massa condimentum, pretium tortor non, facilisis mi. Nunc tellus nisi, feugiat a massa sed, cursus consectetur quam.</p> 
    </div>
    <div class="container-headline">
        <h2>Achieve better results from your grant proposals and marketing campaigns.</h2>
    </div>
    <div ="container-panel">
    <div class="container-headline-short">
        <h4>Short headline 2</h4>
    </div>
    <div class="">
        <p> 100 words - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id gravida metus. Pellentesque tincidunt orci sed faucibus feugiat. Nunc nec nisi quam. Cras blandit nisl sed nunc gravida suscipit. Suspendisse bibendum </p>
            
        <p>tincidunt sem, ut hendrerit enim tempus id. Nulla at mauris eros. Donec in finibus dolor. Sed ullamcorper viverra rhoncus. Quisque posuere ornare dolor.</p> 
        
        <p>In sollicitudin tristique dolor sit amet iaculis. Donec placerat venenatis elit in pretium. Fusce aliquet lectus vitae eros eleifend cursus vel vitae libero. Proin in vulputate turpis. Etiam dictum a erat tempor volutpat. Curabitur fringilla id risus ac euismod. Ut vehicula dolor mollis odio scelerisque, quis.</p>
    </div>
</div>
</div>