<div class="hero-container flex-container">
<h1>Do You Need Expert Content or Grant Writers?</h1>
 <h2>Achieve better results from your grant proposals and marketing campaigns.</h2>
 <h2>We're specialty writers for medical, healthcare and technology companies and not-for-profits.</h2>
 <p>This is home page...</p>
</div>