// Dev only

/* {border: 1px solid red;} */

// SCSS VARIABLES

/* Colors */ 

$primary-color: red;
$slate: #5f72be;
$purple-red: #9921e8;
$purple: #6617cb;
$hot-pink: #cb218e 74%;

/* $font-base not needed only one font for now */ 

/* Base Styles */

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  }

html {
  height: 100%;
  width: 100%;
}

/* body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  } */

body {
min-height: 100%;
font-size: 16px;
font-family: 'Inter', Roboto, Helvetica, Arial, sans-serif;
background-color: #f2f4f8;
color: #353535;
}

h1.display, h2.display, p.display {
  font-family:'Source Serif Pro', serif;
}

ul, ol {
list-style-type: none;
}

h1 {
font-size: 2em;
line-height: 1.5em;
margin-bottom: 1em;
}

h2 {
font-size: 1.6em;
line-height: 1.4em;
}

h3 {
font-size: 1.5em;
line-height: 1.4em;
}

h4, h5, h6 {
font-size: 1.2em;
line-height: 1.4em;
}

p {
font-size: 1em;
line-height: 1.5em;
margin: 2em 0;
}

.large {
  font-size: 1.25em;
}

.xlarge {
  font-size: 2em;
  line-height: 1.25em;
  font-weight: bold;
}

.xxlarge {
  font-size: 2.5em;
  line-height: 1.25em;
  font-weight: bold;

}

img {
  max-width:100%;
  height: auto; 
}

a {
  color: #00B7FF;
  text-decoration: none;
  }

/* LAYOUT */

/* Flexbox */

.flex-container {
display: flex;
flex: 0 1;
} 

.flex-col {
flex-direction: column; 
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spaced {
  justify-content: space-between;
}

/* Grid */ 

.grid-c {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1em;
}


/* Containers */

.hero {
  width: 100%;
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(1000px, 1fr));
}

.hero-grid {
  width: 100%;
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}


.fullscreen {
  width: 100vw;
  height: 100vh;
  padding: 0;
}

.banner {
  width: 100vw;
  height: 20vh;
  background-color: $slate;
  margin-bottom: 1.5em;
}

/* Gallery styles - hero */ 
  .paths {
    /* this is the same as grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4, 1fr);
    /* this is the same as grid-template-rows: 300px 300px; */
    grid-template-rows: repeat(2, 300px);
  }

  /* breweries styles */
.paths {
  padding: 2rem;
}

.paths > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.paths > ul > li {
  border: 1px solid #E2E2E2;
  border-radius: .5rem;
}

.paths > ul > li > figure {
  max-height: 220px;
  overflow: hidden;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  position: relative;
}

.paths > ul > li > figure > img {
  width: 100%;
}

.paths > ul > li > figure > figcaption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,.8);
  width: 100%;
}

.paths > ul > li > figure > figcaption > h3 {
  color: white;
  padding: .75rem;
  font-size: 1.25rem;
}

.paths > ul > li > p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem .75rem;
  color: #999;
}

.paths > ul > li > a {
  padding: .5rem 1rem;
  margin: .5rem;
}

.card-c {
  display: flex;
}

  /* Alignment and Padding */ 

  .center {
    text-align: center;
    }

  .inner-0 {
    padding: 0; /* redundant */
  }
  
  .inner {
    padding: 0 2em;
  } /* default container padding */ 

  // COMPONENTS

  .btn {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  
  }

  .btn.rounded {
    transition: .3s ease-in-out;
    border-radius: 100rem;
    padding: 0 2.5em;
    width: 100%;
  
  }

  footer p {
    line-height: 0;
  }