// Base styles

 

/* Base Styles */

html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    max-width: 100%;
    margin: 0;
  }

body {
  padding: .5em;
  font: 16px Verdana, sans-serif; 
}

a {
  color: #00B7FF;
}

h1, p {
  color: $primary-color;
}

ul {
  list-style-type: none;
}

/* LAYOUT */

/* General layout */



/* Flexbox */

.flex-container {
  display: flex;
  flex: 0 1;
  @media (max-width: 400px) {
      flex-direction: column;
  }
} 

@media (max-width: 400px) {
    .flex-container {
      flex-direction: column;
    }
  }

.flex-col {
  flex-direction: column; 
}

.centered-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }


/* Navigation */

nav .flex-container {
  display: flex;
  flex: 0 1;
  justify-content: flex-end;
}

.nav-item {
  padding: 1em;
}

/* Home Page */

.hero {
    width: 100vw;
    height: 80vh;
    padding: 1em;
    flex-direction: column;
    background-color: yellow;
}

.hero h1 {
    width: 60%;
}



