// Base styles

body {
  font: 100% $font-main;
  color: $primary-color;
}  

/* Base Styles */

body {
  padding: .5em;
  font: 14px Verdana, sans-serif; 
}

a {
  color: #00B7FF;
}

h1, p {
  color: $primary-color;
}

ul {
  list-style-type: none;
}

  /* Flexbox */

.flex-container {
  display: flex;
  flex: 0 1;
} 

.flex-col {
  flex-direction: column; 
}

/* Navigation */

nav .flex-container {
  display: flex;
  flex: 0 1;
  justify-content: flex-end;
}

.nav-item {
  padding: 1em;
}

/* Home Page */

.hero-container {
  padding: 2em;
  flex-direction: column;
}

